<ion-header [translucent]="true">
  <ion-toolbar color="primary"> 
    <ion-title>
      <ion-text color="light">Duoc</ion-text>
      <ion-text color="warning">Assist</ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="login-welcome">
    <h2>Error 404</h2>
    <p>Ups! No se encontró lo que buscabas</p>
  </div>

  <div class="image-container">
    <img src="../assets/images/error-404.png" alt="App Logo" class="login-image" style="width: 200px; height: auto; margin-bottom: 10px;">
  </div>



</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title size="small" text-center>
      © 2024 HasbiTech. Todos los derechos reservados.
    </ion-title>
  </ion-toolbar>
</ion-footer>